<div>&nbsp;&nbsp;■言語</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HTML：★★★☆☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CSS：★★★☆☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JavaScript：★★☆☆☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TypeScript：★★☆☆☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Java：★★★★☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C：★★☆☆☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PHP：★☆☆☆☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ruby：★☆☆☆☆</div>
<div>&nbsp;&nbsp;■フレームワーク</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Angular：★★☆☆☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spring：★★★☆☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seasar2：★★★☆☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Laravel：★☆☆☆☆</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ruby on Rails：★☆☆☆☆</div>