<div>&nbsp;&nbsp;
	氏名：下間　優大　Yudai Shimoma
</div>
<div>&nbsp;&nbsp;
	生年月日：1999年9月29日（満23才）
</div>
<div>&nbsp;&nbsp;
	所在地：東京都
</div>
<div>&nbsp;&nbsp;
	事業内容：都内IT企業でJavaエンジニアとして勤務
</div>
<div>&nbsp;&nbsp;
	過去経歴：2021.2 ~ 2021.5 TECH CAMP（プログラミングスクール）で学習
</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	2021.6 ~ 2022.6 自社開発企業で勤務 ゲーム運用保守及びBtoBシステムの運用
</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	2022.6 ~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SES企業で勤務 銀行系システムの開発,土木管理業務システムの開発
</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	2023.1 ~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;42Tokyo（プログラミングスクール）で学習
</div>
<div>&nbsp;&nbsp;
	お問い合わせ：<a href="mailto:cdcdasdll@gmail.com">cdcdasdll@gmail.com</a>
</div>
<div>&nbsp;&nbsp;
	Twitter：<a href="https://twitter.com/se_yudai">https://twitter.com/se_yudai</a>
</div>
