body {
	background-color: black;
	color: #00FF00;
    line-height: 1.2;
}

.Header1 {
	position: fixed;
	top: 0;
	left: auto;
	background-color: black;
	z-index: 1;
	padding-bottom: 10px;
}

.Header2 {
	position: fixed;
	top: 21px;
	left: auto;
	background-color: black;
	z-index: 1;
}

.top {
	margin-top: 43px;
}

.typing_animation {
	width: 100%;	/* 文字の長さ */
	border-right: 5px solid #000;	/*点滅バー*/
	overflow: hidden;	/*必須*/
	white-space: nowrap;	/*必須*/
	color: #00FF00;
	/* font-size:4.0rem; */
	/* line-height:1.4; */
	/* font-weight:700; */
	animation: typing 4s steps(100), blink .4s step-end infinite alternate;	/*アニメーション関連*/
}
@keyframes typing {
	from {
		width: 0;
	}
}

/*文字列後ろの線の設定*/
/* .text_typing::after {
  content: "↓";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
} */

.typing_input {
  background-color: black;
  color: #00FF00;
  /* border-right: none;
  border-left: none;
  border-top: none; */
  border : none;
  outline: none;
}

